$font-rubric: "Montserrat", sans-serif;
$font-text: "Hind Madurai", sans-serif;
$font-small-rubric: "Cormorant Infant", serif;
$primary-white: rgb(242, 237, 235);
$primary-black: rgb(19, 18, 0);
$accent-first: rgb(114, 109, 168);
$accent-sec: rgb(125, 140, 196);
