:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #747bff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

//Header Styling
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 20px;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: translate(-9px, 6px) rotate(-45deg);
}

.hamburger.is-active::after {
  transform: translate(-9px, -16px) rotate(45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburgerNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #7d8cc4; //REPLACE WITH VARIABLE
  padding-top: 120px;

  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    background-color: #726da8; //REPLACE WITH VARIABLE
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: #938dd4;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
