@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,500&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");

*,
ul,
*::before,
*::after {
  @include box-sixing;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: $font-text;
  h1,
  h2 {
    font-family: $font-rubric;
  }
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-small-rubric;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

//----------------Header Styling--------------------
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: $primary-white;
  display: flex;
  z-index: 99;
  justify-content: flex-end;
  flex-direction: row-reverse;

  button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    margin: 0 20px;

    i {
      color: $accent-first;
    }
  }

  h1 {
    font-size: 2rem;
    margin: auto;

    a {
      text-decoration: none;
      color: $accent-first;
    }
  }
}
//-------------------Hamburger icon styling-------------------
.hamburger {
  position: relative;

  display: block;
  width: 35px;
  cursor: pointer;
  margin-left: 20px;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  & .bar,
  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $accent-first;
    margin: 3px 0px;
    transition: 0.4s;
    border-radius: 3px;
  }

  &.isActive::before {
    transform: translate(2px, 8.3px) rotate(-45deg);
  }
  &.isActive::after {
    transform: translate(2px, -8px) rotate(45deg);
  }
  &.isActive .bar {
    opacity: 0;
  }
}

//-----------------Hamburger Navigation Styling----------------
.hamburgerNav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: $primary-white;
  padding-top: 120px;
  transition: 0.4s;

  .mainHamUl {
    list-style: none;
    padding: 0;
    height: 100vh;

    li:first-child {
      font-weight: bold;
    }

    li:nth-child(6) {
      position: relative;
      top: 10%;
    }
    li:nth-child(7) {
      position: relative;
      top: 10%;
    }
  }
  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: $accent-first; 
    color: $primary-white;
    text-decoration: none;

    &:hover {
      background-color: $accent-sec;
    }
  }

  &.isActive {
    left: 0;
  }
}
//---------------- Banner Styling -----------
.banner {
  width: 100vw;
  top: 80px;
  position: relative;
  color: #fff;
  background-color: $primary-black;
  padding: 10px;
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    i {
      margin: 0 5px 0 8px;
    }
    p {
      margin: 0;
    }
  }
  &#isActive {
    z-index: -1;
  }
}

//--------------------- Footer Styling --------------------- 
.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 97;
  a {
    color: $primary-white;
    transition: all 0.3s ease;
  }
  a:hover {
    color: $accent-sec;
  }
  .help {
    &__title {
      font-family: $font-rubric;
    }
  }
  .nav {
    width: 100%;
    .nav-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  background-color: $primary-black;
  color: $primary-white;
  padding: 20px;
  .contacts {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

main {
min-height: 55vh;
@include tablet{
  min-height: 65vh;
}
}
.marginmain {
  margin-top: 100px;
  max-width: 100vw;
}

.image {
  width: 100vw;
  border-radius: 8px;
}

.h1-categories {
  text-align: center;
  margin: 1rem;
}

.ul-categories {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.li-categories {
  width: 40%;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  background-color: $accent-first;
  border-radius: 3px;
}

.li-categories a:visited {
  color: black;
}

.li-categories a:hover {
  color: black;
}

.li-categories a:active {
  color: black;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  align-items: center;
  justify-content: center;
  .product-card {
    box-shadow: 0 5px 5px -3px rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 45%;
    overflow: hidden;
    height: 350px;
    @include mini-tablet{
      width: 30%;
    }
    @include tablet{
      width: 25%;
    }
    @include desktop{
      width: 20%;
    }
    &__button {
      background-color: $accent-sec;
      color: white;
      border: none;
      font-weight: 500;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 8px;
      padding: 0.2rem 0.5rem;
    }
    &__button:hover {
      background-color: $primary-black;
      color: $primary-white;
    }
    &__button:active {
      background-color: $accent-first;
    }
    &__img-container {
      max-width: 100%;
      height: 60%;
      margin-bottom: 10px;
      overflow: hidden;
      object-fit: center;
      cursor: pointer;
    }
  }
}
.product-card__img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

//------------------MODAL STYLING----------------
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 2; /* Sit on top */
  left: 0;
  top: 80px;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgb(255, 255, 255); 
  @include tablet{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    height: 100vh;
    overflow-y: hidden;
    }
  
}
.modalHidden {
  display: none;
}

.closeButton{
  width: 24px;
  height: 24px;
  position: fixed;
  top: 100px;
  left: 90%;
  border: none;
  background-color: rgba($color: #ffffff, $alpha: 0);
  font-size: x-large;
  color: $accent-first;

  @include tablet {
    top: 130px;
    left: 95%;
  }
}

// .modal-card{
//   @include tablet{
//    display: flex;
//    flex-direction: row;
//    align-items: center;
//    }
// }
.modal-card__text{
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  gap: 5px;
}
.modal-card__button{
  @include btn-style;
  padding: 0.2rem 0.5rem;
  display: block;
}

.modal-card__image{
   width: 100vw;
   max-height: 40vh;
   @include tablet{
    width: 40vw;
    max-height: 80vh;
    //min-height: 50vh;
   }
}

.modal-card__title {
  margin-top: 5%;
  //margin-left: 5%;
}

.modal-card__categories {
  margin-left: 5%;
}

// #appBasket{
//   display: flex;
//   flex-direction: column;
// }

.total-price{
  text-align: center;

}
.basket-product__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  @include tablet{
   max-width: 500px;
   margin: 0 auto;
  }
  button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    
    margin: 5px;
  }
  .basket__title{
    margin-left: 5%;
    
  }
  .basket__price {
    width: 50px;
    margin-left: 3%;
  }
  //.basket__img-container{}

  .basket__img{
    width: 100px;
    
     }
  .basketRemove {
    color: red;
    font-size: large;
    margin-left: 3%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .basketIncreaseQuantity{
    color: black;
  }
  .basketDecreaseQuantity {
  color: black;
  margin-left: 8%;
 }
}

.hero{
  width: 100vw;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=1258&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

footer{
  position: relative;
  bottom: 0;
  width: 100vw;
}

.forms-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0 auto;
  gap: 20px;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}

#checkout {
  @include btn-style;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1rem;
  display: block;
}

a{
  text-decoration: none;
  color: $primary-white;
}
#basket__button {
  @include btn-style;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1rem;
}

//------------------------ PROCESSING CHECKOUT -----------------
.hideCheckoutInfo {
  display: none;
}

.orderConfirmContainer {
  display: block;
  margin: 0 auto;

  .orderNumber {
    color: $primary-black;
  }

  .orderDate {
    color: $primary-black;
  }

  .thanksOrder{
    font-size: 3rem;
    color: $primary-black;
  }

  .emailSent {
    color: $primary-black;
  }

  .checkmark {
    background-color: #34b232;
    
  }
}

.animate-orderConfirmation {
  animation-name: animateOC;
  animation-duration: 1s;
}

@keyframes animateOC {
  from{ bottom:-100px; opacity: 0 }
  to{ bottom:0; opacity:1 }
}

.orderHidden{
  display: none;
}

.loader {
  display: none;
}

.toStart-btn{
  @include btn-style;
  display: block;
  margin: 0 auto;
 padding:10px;
}