@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,500&family=Hind+Madurai:wght@300&family=Montserrat:wght@700&display=swap");

*,
ul,
*::before,
*::after {
  @include box-sixing;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: $font-text;
  h1,
  h2 {
    font-family: $font-rubric;
  }
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-small-rubric;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

//------------------------ HEADER STYLING ------------------------
header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: $primary-white;
  display: flex;
  z-index: 99;
  justify-content: flex-end;
  flex-direction: row-reverse;

  button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    margin: 0 35px;

    .noticeOnCart {
      padding-top: 2px;
      margin: 0;
      position: absolute;
      top: 40px;
      right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(219, 87, 87);
      color: $primary-white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      font-size: 0.9rem;
    }

    i {
      color: $accent-first;
    }
  }

  h1 {
    font-size: 2rem;
    margin: auto;

    a {
      text-decoration: none;
      color: $accent-first;
    }
  }
}
//------------------------ HAMBURGER ICON STYLING ------------------------
.hamburger {
  position: relative;

  display: block;
  width: 35px;
  cursor: pointer;
  margin-left: 20px;

  appearance: none;
  background: none;
  outline: none;
  border: none;

  & .bar,
  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $accent-first;
    margin: 3px 0px;
    transition: 0.4s;
    border-radius: 3px;
  }

  &.isActive::before {
    transform: translate(2px, 8.3px) rotate(-45deg);
  }
  &.isActive::after {
    transform: translate(2px, -8px) rotate(45deg);
  }
  &.isActive .bar {
    opacity: 0;
  }
}

//------------------------ HAMBURGER NAVIGATION STYLING ------------------------
.hamburgerNav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: $primary-white;
  padding-top: 120px;
  transition: 0.4s;

  .mainHamUl {
    list-style: none;
    padding: 0;
    height: 100vh;

    li:first-child {
      font-weight: bold;
    }

    li:nth-child(6) {
      position: relative;
      top: 10%;
    }
    li:nth-child(7) {
      position: relative;
      top: 10%;
    }
  }

  a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: $accent-first;
    color: $primary-white;
    text-decoration: none;

    &:hover {
      background-color: $accent-sec;
    }
  }

  &.isActive {
    left: 0;
  }
}
//------------------------ BANNER STYLING ------------------------
.banner {
  width: 100vw;
  top: 80px;
  position: relative;
  color: #fff;
  background-color: $primary-black;
  padding: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;

    i {
      margin: 0 5px 0 8px;
    }

    p {
      margin: 0;
    }
  }

  &#isActive {
    z-index: -1;
  }
}

//------------------------ FRONTPAGE STYLING ------------------------
main {
  min-height: 55vh;
  @include tablet {
    min-height: 65vh;
  }
}

.marginmain {
  margin-top: 100px;
  max-width: 100vw;
}

.hero {
  width: 100vw;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1586023492125-27b2c045efd7?q=80&w=1258&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.image {
  width: 100vw;
  border-radius: 8px;
}

.h1-categories {
  text-align: center;
  margin: 1rem;
}

.ul-categories {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.li-categories {
  width: 40%;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  background-color: $accent-first;
  border-radius: 3px;
}

.li-categories a:visited {
  color: black;
}

.li-categories a:hover {
  color: black;
}

.li-categories a:active {
  color: black;
}
// ------------------------ PRODUCT STYLING ------------------------
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3%;
  align-items: center;
  justify-content: center;

  .product-card {
    box-shadow: 0 5px 5px -3px rgba($color: #000000, $alpha: 0.3);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 45%;
    overflow: hidden;
    height: 350px;

    @include mini-tablet {
      width: 30%;
    }

    @include tablet {
      width: 25%;
    }

    @include desktop {
      width: 20%;
    }

    &__button {
      background-color: $accent-sec;
      color: white;
      border: none;
      font-weight: 500;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 8px;
      padding: 0.2rem 0.5rem;
    }

    &__button:hover {
      background-color: $primary-black;
      color: $primary-white;
    }

    &__button:active {
      background-color: $accent-first;
    }

    &__img-container {
      max-width: 100%;
      height: 60%;
      margin-bottom: 10px;
      overflow: hidden;
      object-fit: center;
      cursor: pointer;
    }
  }
}

.product-card__img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

//------------------------ MODAL STYLING ------------------------
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  // z-index: 2; /* Sit on top */
  left: 0;
  top: 80px;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgb(255, 255, 255);

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
    height: 100vh;
    overflow-y: hidden;
  }
}

.modalHidden {
  display: none;
}

.closeButton {
  width: 24px;
  height: 24px;
  position: fixed;
  top: 100px;
  left: 90%;
  border: none;
  background-color: rgba($color: #ffffff, $alpha: 0);
  font-size: x-large;
  color: $accent-first;

  @include tablet {
    top: 130px;
    left: 95%;
  }
}

.modal-card__text {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  gap: 5px;
}

.modal-card__button {
  @include btn-style;
  padding: 0.2rem 0.5rem;
  display: block;
}

.modal-card__image {
  width: 100vw;
  max-height: 40vh;

  @include tablet {
    width: 40vw;
    max-height: 80vh;
  }
}

.modal-card__title {
  margin-top: 5%;
}

.modal-card__categories {
  margin-left: 5%;
}

//------------------------ BASKET STYLING ------------------------
.total-price {
  text-align: center;
}

.basket__productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Img Img Title Title Title Title Title"
    "Img Img decrease quantity increase price removeButton";
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 3px;

  @include mini-tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Img Img Title Title Title Title Title ."
      "Img Img decrease quantity increase price removeButton .";
  }

  @include tablet {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  button {
    border-radius: 50%;
    margin: 5px;
  }

  .basket__title {
    grid-area: Title;
    display: inline-block;
    margin-left: 5%;
    @include tablet {
      margin: 8px 8px 8px 30px;
      flex-grow: 2;
    }
  }

  .basket__quantity {
    margin: 8px;
    grid-area: quantity;
    text-align: center;
    align-self: center;
  }

  .basket__price {
    grid-area: price;
    display: inline-block;
    width: 50px;
    justify-self: end;
    align-self: end;

    @include tablet {
      justify-self: center;
      align-self: center;
      text-align: center;
      margin: 8px;
    }
  }

  .basket__img {
    grid-area: Img;
    align-self: center;
    justify-self: end;
    width: 100px;
  }

  .basketRemove {
    grid-area: removeButton;
    justify-self: center;
    display: inline-block;
    color: rgb(202, 66, 66);
    font-size: 28px;
    margin-left: 3%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: right;

    &:hover {
      color: rgb(255, 56, 56);
    }

    @include tablet {
      justify-self: center;
    }
  }

  .basketIncreaseQuantity {
    align-self: start;
    grid-area: increase;
    display: inline-block;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    color: $accent-first;
    text-align: left;

    &:hover {
      color: rgb(154, 147, 230);
    }

    @include tablet {
      align-self: center;
      justify-self: right;
    }
  }

  .basketDecreaseQuantity {
    align-self: start;
    grid-area: decrease;
    display: inline-block;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    color: rgb(152, 150, 183);
    margin-left: 8%;
    text-align: right;

    &:hover {
      color: rgb(158, 153, 224);
    }

    @include tablet {
      align-self: center;
    }
  }
}

//------------------------ CHECKOUT STYLING ------------------------
.forms-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 0 auto;
  gap: 20px;

  @include mini-tablet {
    margin: 0 5%;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

#flexCheckChecked {
  margin-bottom: 25px;
  &:checked {
    border-color: $accent-first;
    background-color: $accent-first;
  }
}

#checkout {
  @include btn-style;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1rem;
  display: block;
}

a {
  text-decoration: none;
  color: $primary-white;
}
#basket__button {
  @include btn-style;
  padding: 0.7rem 1.1rem;
  margin-bottom: 1rem;
}

//------------------------ PROCESSING CHECKOUT ------------------------
.hideCheckoutInfo {
  display: none;
}
.noticeHidden {
  display: none;
}

.orderConfirmContainer {
  display: block;
  margin: 0 5px;
  text-align: center;

  .orderNumber {
    color: $primary-black;
  }

  .orderDate {
    color: $primary-black;
  }

  .thanksOrder {
    font-size: 3rem;
    color: $primary-black;
  }

  .emailSent {
    color: $primary-black;
  }

  .checkmarkOrder {
    margin-top: 40px;
    color: #34b232;
    font-size: xx-large;
  }
}

.animate-orderConfirmation {
  animation-name: animateOC;
  animation-duration: 1s;
}

@keyframes animateOC {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.orderHidden {
  display: none;
}

.spinnerContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.loader {
  display: none;
}

.toStart-btn {
  @include btn-style;
  display: block;
  margin: 80px auto;
  padding: 10px;
}

//------------------------ FOOTER STYLING ------------------------
footer {
  position: relative;
  bottom: 0;
  width: 100vw;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 97;
  background-color: $primary-black;
  color: $primary-white;
  padding: 20px;

  a {
    color: $primary-white;
    transition: all 0.3s ease;
  }

  a:hover {
    color: $accent-sec;
  }

  .help__title {
    font-family: $font-rubric;
  }

  .nav {
    width: 100%;
    .nav-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .contacts {
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
